{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = true %}


{% block header_navigation %}
	{% if show_onpage_menu %}

		<ul class="md:flex gap-5 p-5 md:p-0">
			{% for module in page.collection() if module.header.visible is not same as(false) %}
				{% set current_module = (module.active or module.activeChild) ? 'active' : '' %}
				{% set href = module.header.redirect ? module.header.redirect :  "#"~module.menu|hyphenize %}
				<li class="hover:bg-genoa-100">
					<a class="{{ current_module }}" href="{{href}}">{{ module.menu }}</a>
				</li>
			{% endfor %}
			{% for mitem in site.menu %}
				<li>
					<a {% if mitem.class %} class="{{ mitem.class }}" {% endif %} href="{{ mitem.url }}">
						{% if mitem.icon %}
							<i class="fa fa-{{ mitem.icon }}"></i>
						{% endif %}
						{{ mitem.text }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		{{  parent() }}
	{% endif %}
{% endblock %}

{% block body %}
	{% for module in page.collection() %}
		<div>
			<a id="{{ module.menu|hyphenize }}" class="invisible relative top-[-50px]"></a>
			<div>

				{{ module.content|raw }}
			</div>
		</div>

	{% endfor %}
{% endblock %}
